
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    gap: 1rem;
    background-color: rgb(170, 168, 168);
}
.color-box{
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
    margin-top: 100px;
}
.btn-box{
    padding: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fff;
    font-weight: bold;
}
#btn1{
    background-color: transparent;
}
#btn1.active{
    background-color: red;
    color: white;
}
#bt21{
    background-color: transparent;
}
#btn2.active{
    background-color: blue;
    color: white;
}
#btn3{
    background-color: transparent;
}
#btn3.active{
    background-color: green;
    color: white;
}
#btn4{
    background-color: transparent;
}
#btn4.active{
    background-color: yellow;
}
.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    margin-top: 150px;
}
#form-text{
    padding: 0.5rem;
    width: 200px;
    font-weight: 600;
}
#greet-btn{
    padding: 0.7rem;
    background-color: orangered;
    color: #fff;
    font-weight: 900;
    border: none;
}